<div class="chat" style="display: grid; grid-template-rows: auto auto 30px; min-height: 100vh">
    <div class="nav" style="display: flex; justify-content: space-between">
        <div class="logout-btn">
            <a href="/api/session/logout" style="color: #fff; text-decoration: none">Logout</a>
        </div>
        <div class="cart" >
            <a href="/static/home" style="color: #fff; text-decoration: none">Home</a>
        </div>
    </div>
    <div class="cart-products" style="overflow-y: scroll; margin-bottom: 1rem">

    </div>
    <div class="cart-buttons" style="display: flex; justify-content: space-between;">
        <button>Clear Cart</button>
        <button>Buy now</button>
    </div>
</div>