<div class="product-container">
    {{#each products}}
        <div class="product">
            <h2>{{this.title}}</h2>
            <span>{{this.price}}</span>
            <span>Stock: {{this.stock}}</span>
        </div>
    {{/each}}
</div>