<div class="nav" style="display: flex; justify-content: space-between">
    <div class="logout-btn">
        <a href="/api/session/logout" style="color: #fff; text-decoration: none">Logout</a>
    </div>
    <div class="cart">
        <a href="/static/cart" style="color: #fff; text-decoration: none">Carrito</a>
    </div>
</div>
<div class="product-container">
    
</div>