<div class="form-container">
    <h1>Login</h1>
    <form id="login" class="form">
        <div class="input-container">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <button type="submit" class="submit-btn">Login</button>
    </form>
    <a href="/static/register">Register</a>
</div>