<div class="container" style="display: flex; justify-content: center; align-items: center; min-height: 100vh">
    <div class="info-compra" style="display: flex; flex-direction: column; padding: 1rem; background-color: #353535; border-radius: 5px">
        
    </div>
</div>