<h1>Real time Products</h1>
<form>
    <label for="title"></label>
    <input type="text" name="title" class="input">
    <label for="description"></label>
    <input type="text" name="description" class="input">
    <label for="price"></label>
    <input type="number" name="price" class="input">
    <label for="code"></label>
    <input type="text" name="code" class="input">
    <label for="stock"></label>
    <input type="number" name="stock" class="input">
    <label for="category"></label>
    <input type="text" name="category" class="input">
    <label for="imagen"></label>
    <input type="file" name="imagen" class="input">
    <input type="submit" value="Subir Product">
</form>